.image-explorer-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    min-width: 100%;
    justify-content: left;
    row-gap: 25px;
    column-gap: 25px;
}

img:hover {
    filter: brightness(60%);
    cursor: pointer;
}
