.feed-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-detail-display {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
}

.profile-picture {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.tab-item-style {
    font-style: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: 1px;
    margin-left: 4px;
    /* margin-top: 5px; */
}

.tab-header-name {
    margin-left: 4px;
}
